/* @import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

body {
  background-image: url('../images/background-medium.png');
  background-color: #f1185c;
  background-size: cover;
  background-repeat: repeat
} */

/* .container {
  display: "flex";
  flex-direction: "row";
  justify-content: "space-around";
  margin-top: '30px';
  margin-bottom: "30px";
};


.mynav {
  background-color: "#ffaa01";
  height: "75px";
  padding: "10px";
  font-size: "4rem";
}; */